@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
ul,
li,
article,
footer,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.header {
    width: 100%;
    background-image: url('img/header-foto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.header-nav {
    width: 100%;
    padding: 2rem 2rem;
    position: fixed;
}

.nav-content {
    font-weight: 900;
    font-size: 1.5rem;
    color: #121212;
    background-color: white;
    width: fit-content;
    padding: 1rem 1.25rem;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
}

.nav-container a {
    text-decoration: none;

}

.container-xxss {
    display: flex;
}

.xxss-item {
    padding: 1rem;
    font-size: 1.75rem;
}

.container-title {
    font-weight: 900;
    font-size: 4rem;

}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-icon {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.scroll-icon i {
    font-size: 2.25rem;
}

.works-articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.article-header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.article-title {
    padding-left: 1rem;
    font-weight: 700;
}

.article-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 1280px) {

    /* Cambia a una columna por fila en pantallas de hasta 768px de ancho */
    .article {
        width: 70%;
    }

    .article-articles {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {

    /* Cambia a una columna por fila en pantallas de hasta 768px de ancho */
    .article {
        width: 90%;
    }

    .article-articles {
        grid-template-columns: 1fr;
    }
}

.article-card-img {
    padding: 0 1rem 1rem 0;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: .5rem;
}

.card-img {
    width: 100%;
    object-fit: cover;
    padding-bottom: .5rem;
}

.footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #121212;
}


.header-article {
    width: 100%;
    background-image: url('img/header-foto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.nav-content-blog {
    font-weight: 900;
    font-size: 1.5rem;
    color: #121212;
    background-color: white;
    width: fit-content;
    padding: .75rem 1rem;
}

.blog {
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
}

.header-blog {
    justify-content: start;
}

.blog-title {
    font-size: 2rem;
    font-weight: 700;
}

.blog-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.fitxa-tecnica-item span {
    font-weight: 600;
}

.blog-content {
    padding-top: 2rem;
}

.card-link {
    text-decoration: none;
    color: #121212;
}

span {
    text-decoration: underline;
    color: indianred;
}

.galeria {
    width: 100%;
}

.galeria img {
    width: 100%;
    object-fit: cover;
    padding: 1rem 0;
}

.colaboracions {
    text-align: center;
    padding: 50px 0;
}

.colaboracio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colaboracio img {
    max-width: 160px;
    height: auto;
    object-fit: contain;
    margin: 10px;
}